body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

header{
background:black;
padding:20px;
text-align:center;
border-bottom:2px solid red;
}

.container{
padding:20px;
}

#seatContainer{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(80px,1fr));
gap:15px;
margin-top:20px;
}

.seat{
height:80px;
background:green;
display:flex;
align-items:center;
justify-content:center;
border-radius:10px;
cursor:pointer;
font-size:20px;
font-weight:bold;
}

.booked{
background:red;
}
